---
import Layout from "../layouts/Layout.astro";
---

<Layout title="organicblue" isHome={true}>
    <div class="fixed inset-0 -z-10 overflow-hidden">
        <mux-player
            playback-id="qDlRrWP8z9ZWKxN5PjJZath003lYoGgEgBQPtH4V15uk"
            autoplay
            muted
            loop
            playsinline
            class="block w-full h-full"
            style="--media-object-fit: cover; --controls: none;"></mux-player>
    </div>
</Layout>
